@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*Reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Estilos Main*/
body{
    font-family: 'Montserrat';
    line-height: 1.6;
}
h1{font-size: 3rem;}
h2{font-size: 2.8rem;}
h4{font-size: 2rem;}
p{
    font-size: 1rem;
    margin: 10px 0;
}
a{text-decoration: none;}


.container{
    margin: auto;
    max-width: 1300px;
    overflow: auto;
    padding: 0 20px;
}
.equipo{
    font-size: 3.5rem;
}
/*Header principal*/
#mainheader{
    background-image: url("../img/portada.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60vh;
    color: white;
}
#navbar{
    overflow: auto;
    padding: 3px;
    ul{
        list-style: none;
        color: white;
        float: right;
        li{
            float: left;
            a{
                display: block;
                padding: 20px;
                text-align: center;
            }
        }
    }
}
a:visited{
    color:black;
}
a:hover{
    color: darkmagenta;
}
.logo{
    float:left;
    padding-top: 5px;
    font-size: 40px;
    height: 100px;
    font-weight: 200;
}
/*fin navbar*/

#encabezado1{
    text-align: center;
    padding-top: 200px;
    h1{
        font-weight: 300;
    }
}
#texto{
    padding: 80px 0;
    h2{
        line-height: 1.2em;
        font-weight: 200;
        padding-bottom: 40px;
    }
    .container{
        display: flex;
        justify-content: space-around;
        .content-column ul li{
            list-style-type: none;
        }
    }
}

/*estilos para crc.html*/
#header-secundario{
    background-color: rgba(128, 128, 128, 0.764);
    height: 10vh;
    color: white;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 columnas iguales */
  grid-template-rows: auto auto; /* 2 filas automáticas */
  gap: 20px; /* Espacio entre celdas */
  padding: 40px;
  height: 100vh; /* Opcional: pantalla completa */
  box-sizing: border-box;
}

/* Estilos básicos para cada celda */
.item {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 1.2em;
}
.list-items{
    list-style: none;
}


